{% for vcard in vcards %}
<img src={{vcard.photo[0].value}}>

<ul>
	<li><b>Name:</b> {{vcard.fn[0].value}}</li>
	<li><b>Nickname:</b> {{vcard.nickname[0].value}}</li>
	<li><b>Organization:</b> {{' - '.join(vcard.org[0].value)}}</li>
	<li><b>Address:</b> {{vcard.adr[0].value.city}}</li>
</ul>

<p><a href={{vcard.source[0].value}}>vCard</a></p>

{% endfor %}
